# Options +FollowSymLinks -Indexes
# IndexIgnore *
# DirectoryIndex
# <IfModule mod_rewrite.c>
# RewriteEngine on
# # Simple URL redirect:
# RewriteRule ^(.*)$ http://127.0.0.1:21312/$1 [P]
# </IfModule>

Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]